<div *ngIf="post$ | async as post"></div>
<mat-card>
  <form (submit)="onAddPost()" [formGroup]="form">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        placeholder="Post Title"
        formControlName="title"
      />
      <mat-error *ngIf="form.controls.title.invalid">{{
        "Please enter title"
      }}</mat-error>
    </mat-form-field>
    <div class="image-upload-btn">
      <button mat-stroked-button type="button" (click)="fileInput.click()">
        Pick Image
      </button>
      <input
        class="u-v-h"
        type="file"
        #fileInput
        (change)="onFileSelect($event.target['files'])"
      />
    </div>
    <div class="image-preview" *ngIf="imagePreview">
      <img [src]="imagePreview" [alt]="form.controls.title" />
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        placeholder="Post Content"
        formControlName="content"
      ></textarea>
      <mat-error *ngIf="form.controls.content.invalid">{{
        "Please enter content"
      }}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      {{ postID ? "Update post" : "Create post" }}
    </button>
  </form>
</mat-card>

<div class="is-loading-spinner" *ngIf="isLoading$ | async">
  <mat-spinner></mat-spinner>
</div>
