<div class="is-loading-spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<ng-container>
  <mat-accordion multi="true">
    <ng-container>
      <div *ngIf="!isLoading && !error && !posts.length">
        <p class="info-text mat-body-1">No Posts added yet</p>
      </div>
      <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ post.title }} </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="post-image">
          <img [src]="post.imagePath" [alt]="post.title" />
        </div>
        {{ post.content }}
        <mat-action-row *ngIf="isAuth">
          <button
            color="primary"
            mat-button
            [routerLink]="['/edit', post.id]"
            [queryParams]="{
              pageIndex: pageIndex,
              pageSize: pageSize
            }"
          >
            Edit
          </button>
          <button color="warn" mat-button (click)="onDelete(post.id)">
            Delete
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>

  <mat-paginator
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [length]="maxCount"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangePage($event)"
  ></mat-paginator>
</ng-container>
